extends layout.pug
block content

    div.container

        h1 Formulario Nuevo Estudiante

        form(action="/students/create" method="post")
            div.form-group
                label Nombre
                input(type="text").form-control

            div.form-group
                label Apellido
                input(type="text").form-control

            div.form-group
                label Edad
                input(type="text").form-control

            div.form-group
                label Email
                input(type="email").form-control

            div.form-group
                label Número de Matrícula
                input(type="text").form-control

            div.form-group
                input(type="submit" value="Crear Estudiante").btn.btn-primary