extends ../layout.pug
block content

    div.container

        h1 Formulario Nuevo Usuario

        form(action="/api/users/register" method="post")
            div.form-group
                label Username
                input(type="text" name="username").form-control

            div.form-group
                label Email
                input(type="email" name="email").form-control

            div.form-group
                label Password
                input(type="password" name="password").form-control

            div.form-group
                input(type="submit" value="Crear Usuario").btn.btn-primary